@import url("https://fonts.googleapis.com/css?family=Be+Vietnam:700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Gentium+Basic:400i&display=swap");

body {
  font-family: open sans, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.7em;
  margin: 0;
  overflow-x: hidden;
}

/* header styles */

header {
  display: flex;
  align-items: center;
  height: 60px;
  background-color: white;
  position: fixed;
  width: 80%;
  justify-content: end;
  margin-top: 0;
  align-self: center;
  margin-left: 10%;
  z-index: 9999;
}

header ul {
  position: absolute;
  display: flex;
  width: 90%;
  justify-content: flex-end;
  align-items: center;
  z-index: 999;
  margin: 0px;
}

header ul li {
  list-style-type: none;
  margin-right: 30px;
}

header ul li a {
  text-decoration: none;
  color: #666;
  font-weight: bolder;
  font-size: 15px;
}

main {
  padding-top: 60px;
}

.active {
  color: orangered;
}

/* main background image on home page styles */

.container {
  text-align: center;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
}

.container h1 {
  font-size: 60px;
  font-family: "Be Vietnam", sans-serif;
  color: #333333;
}

.laptop-png {
  height: 400px;
  margin-left: 100px;
}

.top-left {
  position: absolute;
  top: 300px;
  left: 50px;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.3em;
  width: 50%;
  color: rgb(92, 86, 84);
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.13);
}

.top-right {
  position: absolute;
  top: 200px;
  right: 50px;
  width: 400px;
}

.home-background-image {
  opacity: 0.2;
  z-index: -1;
}

/* welcome section styles */

.welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.intro-images {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* popular courses section styles */

.categories-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: lightblue;
}

.study-program-heading {
  font-size: 40px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.courses-nav-tab {
  margin-bottom: 50px;
  padding-bottom: 15px;
  border-bottom: 2px solid #eee;
}

.courses-nav-tab span {
  margin-right: 8px;
  color: #666;
  font-size: 15px;
}

.courses-nav-tab .active {
  color: orangered;
  margin-bottom: 50px;
  padding-bottom: 15px;
  border-bottom: 5px solid orangered;
}

.course-cards {
  display: block;
  font-size: 0;
  text-align: center;
  width: 80%;
}

.polaroid {
  padding: 16px;
  position: relative;
  width: 300px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
  margin-right: 5%;
  display: inline-block;
  overflow: auto;
  font-size: 1rem;
  cursor: pointer;
}

.title-caption {
  font-size: 20px;
  color: rgba(80, 77, 77, 0.425);
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(55, 56, 56, 0.459);
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: 0.5s ease;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.polaroid:hover .overlay {
  width: 100%;
}

.all-courses-button {
  background-color: #3f3f3f;
  border-radius: 35px;
  font-size: 16px;
  padding: 15px 30px;
  color: white;
  margin-bottom: 25px;
  border: none;
}

.all-courses-button:hover {
  background-color: rgba(255, 68, 0, 0.89);
}

.overlay-text {
  color: white;
  font-weight: bolder;
  font-size: 30px;
}

.overlay-text-small {
  font-weight: normal;
  font-size: 15px;
}

.course-image-title {
  text-align: center;
  padding-right: 8px;
}

.course-title {
  float: left;
  margin-left: 10px;
  font-weight: bold;
}

.course-titile-tag {
  float: right;
  color: #8a8a8a;
}

/* review section */

.review-section {
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.review-section-card {
  width: 70%;
  display: flex;
  height: 200px;
  margin: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.review-content {
  font-size: 30px;
  font-style: italic;
  width: 60%;
  padding: 20px 80px;
  font-family: "Gentium Basic", serif;
  line-height: 1.2em;
}

.review-section-img {
  margin-left: 100px;
  margin-top: 20px;
  padding: 20px;
  border-radius: 50%;
  width: 10%;
  height: 100px;
}

/* footer section */

footer {
  display: flex;
  flex-direction: row;
  height: 300px;
  background-color: #333333;
}

.footer-website-description {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-left: 5%;
}

.footer-title-underline {
  margin-top: 50px;
  color: rgba(255, 255, 255, 0.575);
  font-size: 20px;
}

#footer-courses {
  color: white;
  font-weight: bolder;
  font-size: 25px;
  padding-bottom: 10px;
}

.footer-website-description-courses {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  width: 15%;
  margin-left: 10%;
}

.footer-website-description-courses p,
.footer-website-description-about p {
  color: white;
  margin: 0;
  font-size: 13px;
}

.footer-website-description-about {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  margin-left: 0;
}

#footer-courses-about {
  margin-top: 0;
  margin-bottom: 0;
  color: white;
  font-weight: bolder;
  font-size: 25px;
  padding-bottom: 10px;
}
